<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPFDB_ZooManager.Properties.Settings.timmyDBConnectionString"
            connectionString="Data Source=DESKTOP-DBL9MIK;Initial Catalog=timmyDB;Persist Security Info=True;User ID=sa;Password=hallo123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>